Source: msi-keyboard
Section: devel
Priority: optional
Maintainer: Giulio Paci <giuliopaci@gmail.com>
Build-Depends: devscripts,
 debhelper (>= 9~),
 dh-buildinfo,
 dpkg-dev (>= 1.16.1~),
 qt5-qmake (>= 5.4.2),
 libhidapi-dev
Standards-Version: 3.9.6
Vcs-Git: https://github.com/giuliopaci/msi-keyboard.git
Vcs-Browser: https://github.com/giuliopaci/msi-keyboard/
Homepage: https://github.com/giuliopaci/msi-keyboard/

Package: msi-keyboard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nodejs
Description: command line tool to change MSI steelseries keyboards color setup
 This command line tool allows one to change the color setup of MSI
 steelseries keyboards, found on some MSI laptop.
 The tool supports changing operational mode of keyboard backlight and
 changing color and intensity of specific areas.
