Source: msi-keyboard
Section: utils
Priority: optional
Maintainer: Giulio Paci <giuliopaci@gmail.com>
Build-Depends: devscripts,
 debhelper (>= 9~),
 dh-buildinfo,
 dpkg-dev (>= 1.16.1~),
 qt5-qmake (>= 5.2.1),
 qtbase5-dev,
 libhidapi-dev,
 help2man
Standards-Version: 3.9.6
Vcs-Git: https://anonscm.debian.org/git/collab-maint/msi-keyboard.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/msi-keyboard.git
Homepage: https://github.com/bparker06/msi-keyboard/

Package: msi-keyboard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: command line tool to change MSI steelseries keyboards color setup
 This command line tool allows one to change the color setup of MSI
 steelseries keyboards, found on some MSI laptop.
 The tool supports changing operational mode of keyboard backlight and
 changing color and intensity of specific areas.
