#!/usr/bin/make -f

export DH_VERBOSE = 1
# INSTALLDIR=$(CURDIR)/debian/steelskin-pepproxy/usr

%:
	dh $@

override_dh_auto_configure:
	QT_SELECT=5 dh_auto_configure

# override_dh_auto_build:
# 	sed -e 's/#[[:space:]]*!.*env.*node/&js/' -i bin/pepProxy
# 	-mv ../steelskin-pepproxy.node_modules node_modules
# 	npm install --production

# override_dh_auto_clean:
# 	dh_auto_clean
# 	sed -e 's/\(#[[:space:]]*!.*env.*node\)js/\1/' -i bin/pepProxy
# 	-mv node_modules ../steelskin-pepproxy.node_modules
# 	#$(RM) -r node_modules

# override_dh_auto_install:
# 	#INSTALL_DIR=$(INSTALLDIR) make install

# override_dh_auto_test:
